<<<<<<< HEAD
.categoria{
    font-size: 18px;
    color: rgb(90, 50, 0);
    word-spacing: 5px;
        img{
            object-fit: cover;
            width:100%;
            height:100%;
        }
=======
.categoria{
    font-size: 18px;
    color: rgb(90, 50, 0);
    word-spacing: 5px;
        img{
            object-fit: cover;
            width:100%;
            height:100%;
        }
>>>>>>> 9ec920a0acd03592e8f3f28ece225a6ed718316d
}