.gridTopylistas{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    font-family: lexend;    
}    
.topyLista{
    font-size: 18px;
    color: rgb(90, 50, 0);
    word-spacing: 5px;
}
.topyLista img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.contenedorLista{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tyl1{
    grid-column: 1/4;
}
.tyl2{
    grid-column: 1/4;
    padding: 15px 70px 15px 70px;
}
.tyl3{
    grid-column: 1/4;
    padding: 15px 70px 15px 70px;
    background-color: rgb(255, 245, 223);
}
.tyl4{
    grid-column: 1/2;
    padding: 15px 15px 15px 70px;
}
.tyl5{
    grid-column: 2/3;
    padding: 15px;
}
.tyl6{
    grid-column: 3/4;
    padding: 15px 70px 15px 15px;
}
.tyl7{
    grid-column: 1/4;
    padding: 15px 70px 15px 70px;
    background-color: rgb(255, 245, 223);
}
.tyl8{
    grid-column: 1/2;
    padding: 15px 15px 15px 70px;
}
.tyl9{
    grid-column: 2/3;
    padding: 15px;
}
.tyl10{
    grid-column: 3/4;
    padding: 15px 70px 15px 15px;
}
.tyl11{
    grid-column: 1/4;
    padding: 15px 70px 15px 70px;
    background-color: rgb(255, 245, 223);
}
.tyl12{
    grid-column: 1/2;
    padding: 15px 15px 15px 70px;
}
.tyl13{
    grid-column: 2/3;
    padding: 15px;
}
.tyl14{
    grid-column: 3/4;
    padding: 15px 70px 15px 15px;
}
.tyl15{
    grid-column: 1/4;
    padding: 15px 70px 15px 70px;
    background-color: rgb(255, 245, 223);
}
.tyl16{
    grid-column: 1/2;
    padding: 15px 15px 15px 70px;
}
.tyl17{
    grid-column: 2/3;
    padding: 15px;
}
.tyl18{
    grid-column: 3/4;
    padding: 15px 70px 15px 15px;
}
.tyl19{
    grid-column: 1/4;
    padding: 15px 70px 15px 70px;
    background-color: rgb(255, 245, 223);
}
.tyl20{
    grid-column: 1/2;
    padding: 15px 15px 15px 70px;
}
.tyl21{
    grid-column: 2/3;
    padding: 15px;
}
.tyl22{
    grid-column: 3/4;
    padding: 15px 70px 15px 15px;
}
.tyl23{
    grid-column: 1/4;
    padding: 15px 70px 15px 70px;
    background-color: rgb(255, 245, 223);
}
.tyl24{
    grid-column: 1/2;
    padding: 15px 15px 15px 70px;
}
.tyl25{
    grid-column: 2/3;
    padding: 15px;
}
.tyl26{
    grid-column: 3/4;
    padding: 15px 70px 15px 15px;
}
.tyl27{
    grid-column: 1/4;
    padding: 15px 70px 15px 70px;
    background-color: rgb(255, 245, 223);
}
.tyl28{
    grid-column: 1/2;
    padding: 15px 15px 15px 70px;
}
.tyl29{
    grid-column: 2/3;
    padding: 15px;
}
.tyl30{
    grid-column: 3/4;
    padding: 15px 70px 15px 15px;
}

@media(max-width: 600px){
    .tyl2{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl3{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }    
    .tyl4{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl5{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl6{
        padding: 15px 50px 15px 50px;
        grid-column: 1/4;
    }
    .tyl7{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;    
    }
    .tyl8{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl9{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl10{
        padding: 15px 50px 15px 50px;
        grid-column: 1/4;
    }
    .tyl12{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl11{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl13{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl14{
        padding: 15px 50px 15px 50px;
        grid-column: 1/4;
    }
    .tyl15{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl16{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl17{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl18{
        padding: 15px 50px 15px 50px;
        grid-column: 1/4;
    }
    .tyl19{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl20{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl21{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl22{
        padding: 15px 50px 15px 50px;
        grid-column: 1/4;
    }
    .tyl23{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl24{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl25{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl26{
        padding: 15px 50px 15px 50px;
        grid-column: 1/4;
    }
    .tyl27{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl28{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl29{
        padding: 15px 50px 0px 50px;
        grid-column: 1/4;
    }
    .tyl30{
        padding: 15px 50px 15px 50px;
        grid-column: 1/4;
    }
}